<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card chat-app">
            <div id="plist" class="people-list">
                <div class="search-and-button">
                    <div class="addChatButton">
                        <button id="addChatButton" class="btn btn-dark">+ Chat</button>
                    </div>
                    <div class="input-group">
                        <input id="searchInput" type="text" class="form-control" placeholder="Search...">
                    </div>
                </div>
                <ul id="userList" class="list-unstyled chat-list mt-2 overflow-y-auto" style="height: 400px;">

                </ul>
            </div>
            <div class="chat">
                <div id="chat-header" class="chat-header clearfix">

                </div>
                <div class="chat-history overflow-y-auto" style="height: 500px;">
                    <ul id="messagesList" class="m-b-0">
                    </ul>
                </div>
                <div id="inputDiv" class="chat-message clearfix" style="display: none;">
                    <div class="input-group mb-0">
                        <textarea id="messageInput" class="form-control" placeholder="Enter text here..."></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>