<div class="container py-5">
    <div class="row-lg-12 d-flex">
        <div class="col-lg-4 p-1">
            <div class="card" style="height: 300px">
                <div class="card-body text-center">
                    <img
                        id="profileImg"
                        src=""
                        alt="avatar"
                        class="rounded-circle img-fluid"
                        style="width: 150px; height: 150px"
                    />
                    <h5 class="my-3" id="username"></h5>
                    <div class="d-flex justify-content-center mb-2">
                        <button
                            type="button"
                            data-mdb-button-init
                            data-mdb-ripple-init
                            class="btn btn-outline-primary ms-1"
                            id="buttonEditProfile"
                        >
                            Edit Profile
                        </button>
                        <button
                            type="button"
                            data-mdb-button-init
                            data-mdb-ripple-init
                            class="btn btn-outline-danger ms-1"
                            id="buttonChangePassword"
                        >
                            Change password
                        </button>
                        <button
                            type="button"
                            data-mdb-button-init
                            data-mdb-ripple-init
                            class="btn btn-outline-success ms-1"
                            id="buttonUploadPhoto"
                            onclick="document.getElementById('photoUpload').click()"
                        >
                            Update Picture
                        </button>
                        <input
                            type="file"
                            id="photoUpload"
                            style="display: none"
                            onchange="handlePhotoUpload()"
                        />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8 p-1">
            <div class="card" style="height: 300px">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Display Name</p>
                        </div>
                        <div class="col-sm-7">
                            <p class="text-muted mb-0" id="displayName"></p>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-7">
                            <p class="text-muted mb-0" id="email"></p>
                        </div>
                        <div class="col-sm-2">
                            <p class="text-muted mb-0" id="emailVerified"></p>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">2-Step Verification</p>
                            </div>
                            <div class="col-sm-7">
                                <button
                                    type="button"
                                    data-mdb-button-init
                                    data-mdb-ripple-init
                                    class="btn btn-outline-primary ms-1"
                                    id="buttonTwoStepVerification"
                                ></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-lg-12 d-flex">
        <div class="col-lg-6 p-1">
            <div class="card">
                <div class="card-header">
                    <h5>Games History</h5>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Games Played</th>
                                <th scope="col">Games Won</th>
                                <th scope="col">Games Lost</th>
                                <th scope="col">Win Rate</th>
                            </tr>
                            <td id="gamesPlayed"></td>
                            <td id="gamesWon"></td>
                            <td id="gamesLost"></td>
                            <td id="winRate"></td>
                        </thead>
                        <tbody id="gameHistory"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 p-1">
            <div class="card">
                <div class="card-header">
                    <h5>Games archive</h5>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Created</th>
                                <th scope="col">Oponent</th>
                                <th scope="col">Result</th>
                            </tr>
                        </thead>
                        <tbody id="gamesArchive"></tbody>
                    </table>
                    <div id="gameArchivePagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>
